.modal-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(218, 218, 218, 0.534);
}

.modal{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 38%;
    height: auto;
    justify-content: space-between;
    padding: 0.8rem;
    background-color: white;
    border-radius: 10px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.meals {
    padding-bottom: 1rem;
    border-bottom: #4d1601 solid;

}

.meal-price {
    margin-top: 0.86rem;
    justify-content: space-evenly;
}

.meal-quantity {
    margin-left: 3rem;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 2px;
    font-weight: 500;
    padding: 1.5px;
    font-size: 15px;
}

.remove-btn {
    position: relative;
    width: 26px;
    margin-left: 20rem;
    border-radius: 5px;
    color: #4d1601;
}

.add-btn {
    position: absolute;
    margin-left: 0.89rem;
    background-color: #4d1601;
    color: white;
    border-radius: 5px;
}

.total-amount {
    display: flex;
    justify-content: space-between;
}

/* .modal-btn {
    position: relative;
} */

.btn-close{
    margin-left: 22rem;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    color: #4d1601;
}

.btn-order{
    margin-left: 1rem;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #4d1601;
    color: white;
}